<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    
    <!-- <context:annotation-config/> This is only use for @Autowire-->
    
    <!-- Scan -->
    <!-- When component-scan is declared, you no longer need to declare 
    	context:annotation-config, because autowiring is implicitly enabled when component
		scanning is enabled. 
	-->
    <context:component-scan base-package="com.bin.framework.spring.sample.annotation"/>
    
    
        
    <!-- Property Placeholder -->    
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="location" value="config.properties"/>
	</bean>


	<!-- Register bean -->
    <bean id="sampleDao"
        class="com.bin.framework.spring.sample.SampleDao">
    </bean>

	<!-- Wire bean -->
    <bean id="sampleService"
        class="com.bin.framework.spring.sample.SampleService">
        <property name="sampleDao" ref="sampleDao"/>
    </bean>
    
    
    <!-- Load resource(file) into beans -->
    <bean id="sampleResource" 
	   class="com.bin.framework.spring.sample.SampleResource">
		<property name="resource" value="config.properties"/>	
	</bean>
	
	
	<!-- Use p namespace and property tag to load value of property file from Property Placeholder-->
	<bean id="config"
	  class="com.bin.framework.spring.sample.Config"
	  p:name="${name}">
		<property name="version" value="${version}"/>
	</bean>
    
</beans>