<!DOCTYPE html>
<html ng-app="scopeExample">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

<style type="text/css">
.show-scope-demo.ng-scope, .show-scope-demo .ng-scope {
	border: 1px solid red;
	margin: 3px;
}
</style>

</head>
<body>

	<div ng-controller="MyController">
		Your name: <input type="text" ng-model="username" >
		<input type="button" ng-click="sayHello()" value="Greet">
		<hr />
		{{greeting}}
	</div>
	

	<script type="text/javascript">
		angular.module("scopeExample", []).controller("MyController", ["$scope", function($scope){
			$scope.username = "World";
			$scope.sayHello = function(){
				$scope.greeting = "Hello " + $scope.username + "!";
			};
		}]);
	</script>

</body>
</html>