<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../templates/head %>
</head>
<body class="container">

    <header>
        <% include ../templates/header %>
    </header>

    <%- body %>

    <footer>
        <% include ../templates/footer %>
    </footer>
    
</body>
</html>